* {
    color: white;
}



.nav_links::after {
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: inline-block;
    transition: ease 1s;
}

.nav_links:hover::after {
    width: 100%;
}





.gradient-blue-transparent {
    background: linear-gradient(blue, rgba(84, 39, 136, 0));
}



.ping-boll::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    animation: ping-ball 2s linear infinite;
}

@keyframes ping-ball {
    0% {
        transform: scale(0);
        border: 4px solid blueviolet;
    }

    100% {
        transform: scale(3);
        border: 0px solid transparent;
    }
}


.tcci::after {
    content: "";
    height: 40px;
    width: 41px;
    border-radius: 10px;
    background-color: rgba(67, 67, 141, 0.486);
    position: absolute;
    left: -30.9%;
    top: -50%;
}