* {
    color: white;
}



.nav_links::after {
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: inline-block;
    transition: ease 1s;
}

.nav_links:hover::after {
    width: 100%;
}





.gradient-blue-transparent {
    background: linear-gradient(blue, rgba(84, 39, 136, 0));
}



.ping-boll::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    animation: ping-ball 2s linear infinite;
}

@keyframes ping-ball {
    0% {
        transform: scale(0);
        border: 4px solid blueviolet;
    }

    100% {
        transform: scale(3);
        border: 0px solid transparent;
    }
}


.tcci::after {
    content: "";
    height: 40px;
    width: 41px;
    border-radius: 10px;
    background-color: rgba(67, 67, 141, 0.486);
    position: absolute;
    left: -30.9%;
    top: -50%;
}

.rotate-style {
    transform: perspective(800px) rotateX(20deg) rotateY(10deg) translateY(-90%);
}

.rotate-style-inner-card:hover {
    transform: perspective(800px) scale(200%);
}

@media (max-width: 450px) {
    .rotate-style {
        transform: perspective(800px) rotateX(10deg) rotateY(5deg) translateY(-90%);
    }

    .rotate-style-inner-card:hover {
        transform: perspective(800px) scale(150%);
    }
}


.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kk {
    color: white;
}